<%= form_for(reservation) do |f| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :예약시간 %><br>
    <%= f.datetime_select :start, date_separator: ' 월 ', datetime_separator: ' 일          ', use_month_numbers: true, discard_year: true, start_hour: 9, minute_step: 60, end_hour: 21, min: Date.today, class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= f.label :시간선택 %></br>
      <label class="radio_choose clearfix"><%= f.radio_button :choose,'1',class: 'radio'%><span> 1시간</span></label>
      <label class="radio_choose clearfix"><%= f.radio_button :choose,'2',class: 'radio'%><span> 2시간</span></label>
  </div>

  <div class="form-group">
    <%= f.label :세미나실%></br>
      <label class="radio_choose clearfix"><%= f.radio_button :group_id,'1',class: 'radio'%><span> 205호</span></label>
      <label class="radio_choose clearfix"><%= f.radio_button :group_id,'2',class: 'radio'%><span> 206호</span></label>
      <label class="radio_choose clearfix"><%= f.radio_button :group_id,'3',class: 'radio'%><span> 207호</span></label>
  </div>

    <%= f.submit "예약하기", class: "btn btn-primary" %>
<% end %>

<style>
  .radio_choose {
      font-size: 14px;
      color: #555;
      margin: 5px 5px 0px 5px;
  }
  .radio {
      float: left;
  }
  input[type="radio"]{
    -webkit-appearance: none;
    padding: 8px;
    background: #ffffff;
    border-radius: 5px;
    border: 1px solid black;
    margin-right: 4px;
  }
  input[type="radio"]:checked{
	  background-color: #ffeb3b;
    border-color: #ffeb3b;
    outline:0;
  }
</style>
