<%= form_for(reservation) do |f| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :예약시간 %><br>
    <%= f.datetime_select :start, date_separator: ' 월 ', datetime_separator: ' 일          ', use_month_numbers: true, discard_year: true, start_hour: 9, minute_step: 60, end_hour: 21, min: Date.today, class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= f.label :시간선택 %>
    <div class="form-control timeform">
      <label><%= f.radio_button :choose,'1'%> 1시간</label><br>
      <label><%= f.radio_button :choose,'2'%> 2시간</label>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :세미나실%>
    <div class="form-control spaceform">
      <label><%= f.radio_button :group_id,'1'%> 205호</label><br>
      <label><%= f.radio_button :group_id,'2'%> 206호</label><br>
      <label><%= f.radio_button :group_id,'3'%> 207호</label>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit "예약하기", class: "btn btn-primary" %>
  </div>
<% end %>
