<%= form_for(reservation) do |f| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :예약시간 %>
    <%= f.datetime_select :start, date_separator: '월', datetime_separator: '일          ', use_month_numbers: true, discard_year: true, discard_minute: true, start_hour: 9, end_hour: 21, min: Date.today%>
  </div>

  <div class="field">
    <p>예약시간:</p>
    <label><%= f.radio_button :choose,'1'%>1시간</label>
    <label><%= f.radio_button :choose,'2'%>2시간</label>
  </div>

  <div class="field">
    <p>세미나실:</p>
    <label><%= f.radio_button :group_id,'1'%>205호</label>
    <label><%= f.radio_button :group_id,'2'%>206호</label>
    <label><%= f.radio_button :group_id,'3'%>207호</label>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
