<div class="col-md-4 col-md-offset-4">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>예약정보</h1>
      </div>
      <div class="panel-body">
        <p class="form-group">
          <strong>학번:</strong>
          <%= @reservation.user.studentid %>
        </p>

        <p class="form-group">
          <strong>이름:</strong>
          <%= @reservation.user.username %>
        </p>

        <p class="form-group">
          <strong>전화번호:</strong>
          <%= @reservation.user.phone %>
        </p>

        <p class="form-group">
          <strong>과:</strong>
          <%= @reservation.user.major %>
        </p>

        <p class="form-group">
          <strong>예약시간:</strong>
          <%= @reservation.start.strftime("%F %I:%M") %>~
          <%= @reservation.end.strftime("%I:%M") %>
        </p>

        <p class="form-group">
          <strong>세미나실:</strong>
          <%= @reservation.group.name %>
        </p>

        <%= link_to '예약확', reservations_path ,class: "btn btn-primary"%>
      </div>
    </div>
  </div>
</div>