<p id="notice"><%= notice %></p>

<p>
  <strong>학번:</strong>
  <%= @reservation.user.studentid %>
</p>

<p>
  <strong>이름:</strong>
  <%= @reservation.user.username %>
</p>

<p>
  <strong>전화번호:</strong>
  <%= @reservation.user.phone %>
</p>

<p>
  <strong>과:</strong>
  <%= @reservation.user.major %>
</p>

<p>
  <strong>예약시간:</strong>
  <%= @reservation.starttime %>
</p>

<p>
  <strong>선택시간:</strong>
  <%= @reservation.choose.to_i %> 시간
</p>

<p>
  <strong>세미나실:</strong>
  <%= @reservation.group.name %>
</p>



<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
